@{
    ViewData["Title"] = "Etusivu";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa Diary-sovellukseen</h1>
    <p>Kyseessä on oppimispäiväkirjasovellus jonne voit lisätä merkintöjä ja lukea vanhoja. Sovellus sisältää myös kuvagallerian.</p>
    <p>Opiskele ja saa tietoa <a href="https://www.cs.helsinki.fi/u/nikander/opk.html">oppimispäiväkirjan kirjoittamisesta.</a>.</p>

    <div class="row">
        <div class="col">
            <h2>Hyvä päiväkirja</h2>
            <p>Hyvä oppimispäiväkirja kommentoi ja erittelee lähdemateriaalin ydinajatuksia ja arvioi opiskelijan omaa oppimisprosessia. Alkuperäistekstiä ei referoida sellaisenaan - tarkoitus ei ole puhua alkuperäisen kirjoittajan puolesta ja yrittää vakuuttaa lukijaa väitteiden oikeellisuudesta. Toisaalta myöskään omien fiilisten tai mielipiteiden esittely ei yksistään riitä, vaan tekstin pitää tuoda esille alkuperäislähteen väitteet ja sävy.</p>
        </div>
        <div class="col">
            <h2>Yleisiä ongelmia</h2>
            <p>Ongelmia ovat yleensÄ: On mainittu että artikkeli oli vaikea/huono/väärässä, mutta ei ole yritetty paikantaa epäselviksi jääneitä kohtia, tai täsmentää mistä ollaan eri mieltä: "Rosenbloomin teksti on todella sekava, monet kohdat olivat käsittämättömiä, lieneeköhän tällä nyt niin suurta merkitystä tieteessä." Tiedon toistaminen on hyvä alku ymmärtämiselle, mutta tulisi pyrkiä analyyttisempaan esitystapaan. Ks. ajattelun tasot Bloomin mukaan - pyri ymmärtävämmille tasoille kuin vain mekaaniseen toistamiseen. </p>
    </div>

</div>
