@{
    ViewData["Title"] = "Etusivu";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa Diary-sovellukseen</h1>
    <p>Kyseessä on oppimispäiväkirjasovellus jonne voit lisätä merkintöjä ja lukea vanhoja. Sovellus sisältää myös kuvagallerian.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
