@{
    ViewData["Title"] = "Etusivu";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa Diary-sovellukseen</h1>
    <p>Kyseessä on oppimispäiväkirjasovellus jonne voit lisätä merkintöjä ja lukea vanhoja. Sovellus sisältää myös kuvagallerian.</p>
    <p>Opiskele ja saa tietoa <a href="https://www.cs.helsinki.fi/u/nikander/opk.html">oppimispäiväkirjan kirjoittamisesta.</a>.</p>
</div>
