@{
    ViewData["Title"] = "Kuvagalleria";
}
<h1>@ViewData["Title"]</h1>

<p>Täällä on kuvia oppimisen varrelta ja opiskeluvuosilta.</p>
<img src="https://img.emg-services.net/HtmlPages/HtmlPage3806/etaopiskelu-vinkit-kuva2.muokattu.jpg" />
